{% extends "datalog/base.html" %}
{% block jquery %}{% endblock %}
{% block content %}
<header>{{controller.description}}</header>

<section>
<form action="" method="post">{% csrf_token %}
<table class="RegisterTable">
<tr><th>Register</th><th>Value</th><th>New value</th></tr>
{% for r in registers %}
<tr><td>{{r.description}}</td><td>{{r.value}}{{r.unit}}</td>
<td>{% if not r.readonly %}
<input type="text" name="{{r.name}}" id="td_{{r.name}}" />
{% endif %}</td></tr>
{% endfor %}
</table>
<input type="submit" name="set" value="Alter registers" />
</form>

{% if not config %}<p><a href="config/">Click here for configuration registers</a></p>{% endif %}
</section>

{% if not config %}
<section>
<a href="{% url "datalog.views.detailgraph" controller.ident %}">
<p>Last 7 days:</p>
<img src="{% url "datalog-graph" %}?series=FV1:t1:brown&amp;series={{controller}}:t0:black&amp;series={{controller}}:set/lo:blue&amp;series={{controller}}:set/hi:red&amp;series=FV4:t1:green&amp;start=7&amp;leftmargin=0&amp;bottommargin=0"></a>
</section>
{% endif %}

{% endblock %}
