<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Fermenter controller{% endblock %}</title>
{% block style %}<link rel="STYLESHEET" type="text/css" href="{{STATIC_URL}}style.css" />{% endblock %}
{% block jquery %}
<link rel="STYLESHEET" type="text/css" href="{{STATIC_URL}}jquery/jquery-ui.css" />
<script type="text/javascript" src="{{STATIC_URL}}jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}jquery-ui.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}jquery-ui-timepicker-addon.js"></script>
{% endblock %}
</head>
<body>
{% if messages %}
<div id="Messages">
<ul>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% block content %}
<p>Some content for the page.</p>
{% endblock %}

</body>
</html>
